<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-page-layout" layout:fragment="content">
    <div class="enssel-page-image ai">
        <h1 class="title pt-7 bold left">AI SOLUTION</h1>
        <div class="business-items">
            <div class="business-item pt-15 bold center">OCR</div>
            <div class="business-item pt-15 bold center">Machine<br>Vision</div>
            <div class="business-item pt-15 bold center">Big Data<br>Analysis</div>
        </div>
        <div class="scroll-mark">
            <div class="scroll-arrow">
                <span id="left"></span>
                <span id="center"></span>
                <span id="right"></span>
            </div>
            <h5>SCROLL DOWN</h5>
        </div>
    </div>
    <div class="enssel-contents">
        <div class="enssel-btn-group">
            <a class="enssel-btn" href="#OCR">
                <h2 class="pt-08 black center">OCR</h2>
            </a>
            <a class="enssel-btn" href="#MachineVision">
                <h2 class="pt-08 black center">Machine<br>Vision</h2>
            </a>
            <a class="enssel-btn" href="#BigData">
                <h2 class="pt-08 black center">Big Data<br>Analysis</h2>
            </a>
        </div>
        <div class="enssel-items">
            <div class="enssel-item-layout" id="OCR">
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/ai/19-1.jpg}">
                </div>
                <div class="enssel-item-info">
                    <h1 class="title pt-2 bold margin-3">AI Optical Character Recognition</h1>
                    <h4 class="pt-1 regular margin-3" th:text="#{ai.ocr}"></h4>
                    <div class="enssel-item-btn-group">
                        <button onclick="modal.active()">View More(PDF)</button>
                    </div>
                </div>
            </div>
            <div class="enssel-item-layout" id="MachineVision">
                <div class="enssel-item-info">
                    <h1 class="title pt-2 bold margin-3">AI Machine Vision</h1>
                    <h4 class="pt-1 regular margin-3" th:text="#{ai.mv}"></h4>
                    <div class="enssel-item-btn-group">
                        <button onclick="modal.active()">View More(PDF)</button>
                    </div>
                </div>
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/ai/19-2.jpg}">
                </div>
            </div>
            <div class="enssel-item-layout" id="BigData">
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/ai/19-3.jpg}">
                </div>
                <div class="enssel-item-info">
                    <h1 class="title pt-2 bold margin-3">AI Bigdata Analysis</h1>
                    <h4 class="pt-1 regular margin-3" th:text="#{ai.ba}"></h4>
                    <div class="enssel-item-btn-group">
                        <button onclick="modal.active()">View More(PDF)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</html>