<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-page-layout" layout:fragment="content">
    <div class="enssel-page-image semiconductor">
        <h1>SEMI-EQUIPMENT</h1>
        <div class="business-items">
            <div class="business-item">INNOLAS</div>
            <div class="business-item">E+H</div>
            <div class="business-item">CHA</div>
            <div class="business-item">MICROSANJ</div>
        </div>
        <div class="scroll-mark">
            <div class="scroll-arrow">
                <span id="left"></span>
                <span id="center"></span>
                <span id="right"></span>
            </div>
            <h5>SCROLL DOWN</h5>
        </div>
    </div>
    <div class="enssel-contents">
        <div class="enssel-btn-group">
            <a class="enssel-btn" href="#INNOLAS">
                <h2>INNOLAS</h2>
            </a>
            <a class="enssel-btn" href="#EH">
                <h2>E+H</h2>
            </a>
            <a class="enssel-btn" href="#CHA">
                <h2>CHA</h2>
            </a>
            <a class="enssel-btn" href="#MICROSANJ">
                <h2>MICROSANJ</h2>
            </a>
        </div>
        <div class="enssel-items">
            <div class="enssel-item-layout" id="INNOLAS">
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/semiconductor/23-1.png}">
                </div>
                <div class="enssel-item-info">
                    <h1>INNOLAS</h1>
                    <h2>About InnoLas Semiconductor GmbH</h2>
                    <h4>
                        <p>InnoLas Semiconductor, Germany, was established in
                            1995 and is supplying Laser Marking System to the
                            world's leading device makers and wafer manufacturers.</p>
                        <p>In particular, we adopted Nanio Laser developed by
                            InnoLas Laser Co., Ltd. and succeeded in improving
                            throughput by 50% with Dual Arm. In addition, it is
                            designed with a compact size footprint, so space is
                            excellent.</p></h4>
                    <h2>Points of Difference</h2>
                    <h4>
                        <p>1. 50% improvement in throughput by adopting
                            Dual Arm (3000 DPS HT Model)</p>
                        <p>2. Marking on all materials from 2 ”to 450mm (select
                            laser type)</p>
                        <p>3. Cost down effect due to longer life span of laser
                            diode compared to lamp</p>
                        <p>4. Front side / Back side marking at the same time
                            (Option)</p>
                        <p>5. Provide ISO 3 Mini Environment</p>
                    </h4>
                    <div class="enssel-item-btn-group">
                        <button>View More(PDF)</button>
                        <button>View More(HomePage)</button>
                    </div>
                </div>
            </div>
            <div class="enssel-item-layout" id="EH">
                <div class="enssel-item-info">
                    <h1>E+H</h1>
                    <h2>About E+H Metrology</h2>
                    <h4>
                        <p>E+H was founded in 1968 and offers since 1978, for
                            more than 35 years now, a wide variety of measurement
                            tools for the Semiconductor and PV in process
                            control and laboratory characterization.</p>
                        <p>Contactless metrology tools for 1" up to 450mm
                            Wafers consisting out of Silicon, Quartz, Sapphire
                            etc, but also solutions for other materials such as
                            plastic displays are available.</p>
                        <p>Most metrology tools can be integrated into our
                            own full automated wafer handling solutions (belt
                            driven, robot).</p>
                    </h4>
                    <h2>Points of Difference</h2>
                    <h4>
                        <p>1. Sensing Type: Contactless capacitive distance
                            sensor</p>
                        <p>2. Provides short lead time and accurate quality
                            result</p>
                        <p>3. Hard / Soft ware optimized customization for each
                            application</p>
                        <p>4. Higher price competitiveness than competitors</p>
                        <p>5. Long life tool and system, but few maintenance
                            except consumable parts</p>
                    </h4>
                    <div class="enssel-item-btn-group">
                        <button>View More(PDF)</button>
                        <button>View More(HomePage)</button>
                    </div>
                </div>
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/semiconductor/23-2.png}">
                </div>
            </div>
            <div class="enssel-item-layout" id="CHA">
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/semiconductor/23-3.png}">
                </div>
                <div class="enssel-item-info">
                    <h1>CHA</h1>
                    <h2>About CHA Industries</h2>
                    <h4>
                        <p>Founded in 1954, under the name CARL HERRMAN
                            ASSOCIATES, CHA Industries is a privately held company.
                            CHA Industries is headquartered in Fremont,
                            California, with sales through Domestic and International
                            representatives.</p>
                        <p>In addition to inventing the Mark 50, the industry
                            workhorse, CHA Industries pioneered the development
                            of planetary filtering. From that foundation of
                            know-how, the company continues to design, manufacture
                            and offer a variety of planetary, lift-off and
                            flip filtering for multiple applications.</p>
                    </h4>
                    <h2>Points of Difference</h2>
                    <h4>
                        <p>1. Dual Operation (Evaporation & Sputtering)</p>
                        <p>2. Excellent Film Uniformity with Moving Substrate
                            (Planetary & Lift-Off Dome)</p>
                        <p>3. Excellent Vacuum Recovery Time (Mark50: within
                            25 minutes up to 10-7torr)</p>
                        <p>4. The load lock chamber allows the dome to be removed</p>
                    </h4>
                    <div class="enssel-item-btn-group">
                        <button>View More(PDF)</button>
                        <button>View More(HomePage)</button>
                    </div>
                </div>
            </div>
            <div class="enssel-item-layout" id="MICROSANJ">
                <div class="enssel-item-info">
                    <h1>MICROSANJ</h1>
                    <h2>About Microsanj</h2>
                    <h4>
                        <p>Microsanj is focused on the development of systems,
                            products, and services for microelectronic and
                            optoelectronic device and circuit thermal design and
                            characterization.</p>
                        <p>The Microsanj engineering team is continuously
                            working on the development of product enhancements
                            and alternative thermal image analyzer configurations
                            to meet requirements ranging from; general
                            purpose production testing and quality assurance to
                            higher resolution systems with pico-second transient
                            capability for more advanced research in the areas of
                            nanodevice and defect thermal characterization.</p>
                    </h4>
                    <h2>Points of Difference</h2>
                    <h4>
                        <p>1. Dual Operation (Evaporation & Sputtering)</p>
                        <p>2. Excellent Film Uniformity with Moving Substrate
                            (Planetary & Lift-Off Dome)</p>
                        <p>3. Excellent Vacuum Recovery Time (Mark50: within
                            25 minutes up to 10-7torr)</p>
                        <p>4. The load lock chamber allows the dome to be removed</p>
                    </h4>
                    <div class="enssel-item-btn-group">
                        <button>View More(PDF)</button>
                        <button>View More(HomePage)</button>
                    </div>
                </div>
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/semiconductor/23-4.png}">
                </div>
            </div>
        </div>
    </div>
</section>

</html>