<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-page-layout" layout:fragment="content">
    <div class="enssel-page-image smart-factory">
        <h1 class="title pt-7 bold left">SMART FACTORY</h1>
        <div class="business-items">
            <div class="business-item pt-15 bold center">MES</div>
            <div class="business-item pt-15 bold center">QMS</div>
            <div class="business-item pt-15 bold center">EES</div>
            <div class="business-item pt-15 bold center">YMS</div>
        </div>
        <div class="scroll-mark">
            <div class="scroll-arrow">
                <span id="left"></span>
                <span id="center"></span>
                <span id="right"></span>
            </div>
            <h5>SCROLL DOWN</h5>
        </div>
    </div>
    <div class="enssel-contents">
        <div class="enssel-btn-group">
            <a class="enssel-btn" href="#MES">
                <h2 class="pt-08 black center">MES</h2>
            </a>
            <a class="enssel-btn" href="#QMS">
                <h2 class="pt-08 black center">QMS</h2>
            </a>
            <a class="enssel-btn" href="#EES">
                <h2 class="pt-08 black center">EES</h2>
            </a>
            <a class="enssel-btn" href="#YMS">
                <h2 class="pt-08 black center">YMS</h2>
            </a>
        </div>
        <div class="enssel-items">
            <div class="enssel-item-layout" id="MES">
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/smartFactory/17-1.jpg}">
                </div>
                <div class="enssel-item-info">
                    <h1 class="title pt-2 bold margin-3">MES<br>(Manufacturing Execution System)</h1>
                    <h4 class="pt-1 regular margin-3" th:text="#{smartFactory.mes}"></h4>
                    <div class="enssel-item-btn-group">
                        <button onclick="modal.active()">View More(PDF)</button>
                    </div>
                </div>
            </div>
            <div class="enssel-item-layout" id="QMS">
                <div class="enssel-item-info">
                    <h1 class="title pt-2 bold margin-3">QMS<br>(Quality Management System)</h1>
                    <h4 class="pt-1 regular margin-3" th:text="#{smartFactory.qms}"></h4>
                    <div class="enssel-item-btn-group">
                        <button onclick="modal.active()">View More(PDF)</button>
                    </div>
                </div>
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/smartFactory/17-2.jpg}">
                </div>
            </div>
            <div class="enssel-item-layout" id="EES">
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/smartFactory/17-3.jpg}">
                </div>
                <div class="enssel-item-info">
                    <h1 class="title pt-2 bold margin-3">EES<br>(Equipment Engineering System)</h1>
                    <h4 class="pt-1 regular margin-3" th:text="#{smartFactory.ees}"></h4>
                    <div class="enssel-item-btn-group">
                        <button onclick="modal.active()">View More(PDF)</button>
                    </div>
                </div>
            </div>
            <div class="enssel-item-layout" id="YMS">
                <div class="enssel-item-info">
                    <h1 class="title pt-2 bold margin-3">YMS<br>(Yield Management System)</h1>
                    <h4 class="pt-1 regular margin-3" th:text="#{smartFactory.yms}"></h4>
                    <div class="enssel-item-btn-group">
                        <button onclick="modal.active()">View More(PDF)</button>
                    </div>
                </div>
                <div class="enssel-item-image">
                    <img alt="..." th:src="@{/img/business/smartFactory/17-4.jpg}">
                </div>
            </div>
        </div>
    </div>
</section>

</html>