<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-index" layout:fragment="content">
    <div class="enssel-main-item1">
        <div class="enssel-info">
            <h1 class="title light pt-7 margin-3" th:text="#{main.ensselIs}"></h1>
            <div class="enssel-message plain thin">
                <h4 th:text="#{main.message1}"></h4>
                <h4 th:text="#{main.message2}"></h4>
            </div>
        </div>

        <div class="carousel slide" data-bs-ride="true" id="carouselExampleIndicators">
            <div class="carousel-indicators" style="display:none;">
                <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
                        data-bs-target="#carouselExampleIndicators"
                        type="button"></button>
                <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators"
                        type="button"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="1000">
                    <img alt="..." class="d-block w-100"
                         th:src="@{/img/main/carousel-1.jpg}">
                </div>
                <div class="carousel-item" data-interval="1000">
                    <img alt="..." class="d-block w-100"
                         th:src="@{/img/main/carousel-2.jpg}">
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
                    type="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators"
                    type="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="scroll-mark">
            <div class="scroll-arrow">
                <span id="left"></span>
                <span id="center"></span>
                <span id="right"></span>
            </div>
            <h5>SCROLL DOWN</h5>
        </div>
    </div>

    <div class="enssel-main-item2">
        <h1 class="title medium pt-3 margin-3" th:text="#{main.business}"></h1>
        <div class="enssel-business-items">
            <div class="enssel-business-item"
                 data-item="smartFactory"
                 th:onclick="|location.href='business?display=smart-factory'|">
                <img th:src="@{/img/main/3-1.jpg}">
                <div class="enssel-business-preview">
                    <h1 class="plain pt-25 bold">Smart Factory</h1>
                    <h4 class="pt-15">Go Page →</h4>
                </div>
            </div>
            <div class="enssel-business-item"
                 data-item="ai"
                 th:onclick="|location.href='business?display=ai'|">
                <img th:src="@{/img/main/3-2.jpg}">
                <div class="enssel-business-preview">
                    <h1 class="plain pt-25 bold">Artificial<br>Intelligence</h1>
                    <h4 class="pt-15">Go Page →</h4>
                </div>
            </div>
            <div class="enssel-business-item"
                 data-item="semiconductor"
                 th:onclick="|location.href='business?display=semi-equipment'|">
                <img th:src="@{/img/main/3-3.jpg}">
                <div class="enssel-business-preview">
                    <h1 class="plain pt-25 bold">Semi-Equipment</h1>
                    <h4 class="pt-15">Go Page →</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="enssel-main-item3">
        <div class="card">
            <div class="card-body">
                <div>
                    <h1 class="plain pt-2 regular margin-3" th:text="#{main.item3.message1}"></h1>
                    <h1 class="plain pt-2 regular margin-3" th:text="#{main.item3.message2}"></h1>
                </div>
                <a th:href="'enow?display=culture'">
                    <p class="plain pt-1 light">More</p>
                    <p class="plain pt-1 light">+</p>
                </a>
            </div>
        </div>
    </div>

    <div class="enssel-main-item4">
        <h1 class="title medium pt-3 margin-3" th:text="#{main.culture}"></h1>
        <div class="enssel-culture-photos">
            <img alt="..." th:src="@{/img/main/5-1.jpg}">
            <img alt="..." th:src="@{/img/main/5-2.jpg}">
            <img alt="..." th:src="@{/img/main/5-3.jpg}">
            <img alt="..." th:src="@{/img/main/5-4.jpg}">
            <img alt="..." th:src="@{/img/main/5-5.jpg}">
        </div>
        <h2 class="plain regular pt-15 margin-3" th:text="#{main.item4.message1}"></h2>
    </div>
</section>

</html>