<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-page-layout" layout:fragment="content">
    <div class="enssel-page-image culture">
        <h1 style="margin-bottom: 20%">ENSSEL CULTURE</h1>
    </div>
    <div class="enssel-contents">
        <div class="enssel-page-title" style="width: 150px">
            <span></span>
            <h1>인재상</h1>
        </div>
        <div class="enssel-crew-layout">
            <h1>"Enssel과 함께하는&emsp;&emsp;<br/>CREW"</h1>
            <div class="enssel-universe">

            </div>
        </div>

    </div>
</section>

</html>