<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-page-layout" layout:fragment="content">
    <div class="enssel-page-image">
        <h1>ENSSEL CULTURE</h1>
        <h1>Lorem ipsum</h1>
    </div>
    <div class="enssel-contents">
        <div class="enssel-culture-title" style="width: 150px;"><span></span></div>
        <div class="enssel-page-title enssel-culture-title"><h1>COMPANY & INTERVIEW</h1></div>
        
        <div class="enssel-culture-layout">
            <table>
                <tr>
                    <td id="img"><img src="https://via.placeholder.com/1920x920/000000/111111" alt="..."></td>
                    <td id="img"><img src="https://via.placeholder.com/1920x920/000000/111111" alt="..."></td>
                </tr>
                <tr>
                    <td id="img"><img src="https://via.placeholder.com/1920x920/000000/111111" alt="..."></td>
                    <td id="img"><img src="https://via.placeholder.com/1920x920/000000/111111" alt="..."></td>
                </tr>
                <tr>
                    <td id="img"><img src="https://via.placeholder.com/1920x920/000000/111111" alt="..."></td>
                    <td id="img"><img src="https://via.placeholder.com/1920x920/000000/111111" alt="..."></td>
                </tr>                    
            </table>
        </div>
    </div>
</section>
</html>