<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-page-layout" layout:fragment="content">
    <div class="enssel-page-image culture">
        <h1 style="margin-bottom: 20%">ENSSEL CULTURE</h1>
    </div>
    <div class="enssel-contents" style="align-items: center;">
        <div class="enssel-page-title" style="align-items: center;">
            <span style="width: 250px"></span>
            <h1>COMPANY & INTERVIEW</h1>
        </div>
        <div style="margin-top: 10%">
            <div class="enssel-culture-layout">
                <div class="enssel-culture-img">
                    <img alt="..." th:src="@{/img/enow/25-1.jpg}">
                    <div>
                        <h1>"Sub Title"</h1>
                        <h4>Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt
                            ut laoreet dolore magna aliquam </h4>
                    </div>
                </div>
                <div class="enssel-culture-img">
                    <img alt="..." th:src="@{/img/enow/25-2.jpg}">
                    <div>
                        <h1>"Sub Title"</h1>
                        <h4>Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt
                            ut laoreet dolore magna aliquam </h4>
                    </div>
                </div>
            </div>
            <div class="enssel-culture-layout">
                <div class="enssel-culture-img">
                    <img alt="..." th:src="@{/img/enow/25-3.jpg}">
                    <div>
                        <h1>"Sub Title"</h1>
                        <h4>Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt
                            ut laoreet dolore magna aliquam </h4>
                    </div>
                </div>
                <div class="enssel-culture-img">
                    <img alt="..." th:src="@{/img/enow/25-4.jpg}">
                    <div>
                        <h1>"Sub Title"</h1>
                        <h4>Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt
                            ut laoreet dolore magna aliquam </h4>
                    </div>
                </div>
            </div>
            <div class="enssel-culture-layout">
                <div class="enssel-culture-img">
                    <img alt="..." th:src="@{/img/enow/25-5.jpg}">
                    <div>
                        <h1>"Sub Title"</h1>
                        <h4>Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt
                            ut laoreet dolore magna aliquam </h4>
                    </div>
                </div>
                <div class="enssel-culture-img">
                    <img alt="..." th:src="@{/img/enow/25-6.jpg}">
                    <div>
                        <h1>"Sub Title"</h1>
                        <h4>Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt
                            ut laoreet dolore magna aliquam </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>