$EnsselColor: #142482;

.enssel-crew-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  > h1 {
    font-weight: 900;
    color: rgba(120, 150, 255, 0.7);
    text-align: right;
    font-size: 4em;
    line-height: 1.5em;
  }
}

// Max-width < 1020px
@media (max-width: 1020px) {

}