$EnsselColor: #142482;

.enssel-culture-layout {
	margin: auto;
	
  > table {
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	border-collapse: separate;
	border-spacing: 5 10;
	width: 60%;
	height: 900px;

    td{
      vertical-align: top;
      padding: 1rem;
      color: $EnsselColor;
      font-size: 1.0rem;

	    img{
			height: 100%;
			width: 100%;
			background-color: black;
		}

    }

  }
}
  .enssel-culture-title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;

    > span {
      width: 100%;
      height: 3px;
      background-color: $EnsselColor;
      margin-top: 100px;
    }

    > h1 {
      font-weight: 900;
      color: $EnsselColor;
      margin: 20px 0 20px 10px;
    }
  }
  
 img:hover {
	background-color: black;
	opacity: 50%;
}
  

// Max-width < 1020px
@media (max-width: 1020px) {
  .enssel-culture-layout {
    > table {
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      td, th {
        vertical-align: top;
        padding: 1rem;
        color: $EnsselColor;
        font-size: 1.0rem;
      }
   	}
  }
}