<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <div class="enssel-header-menu-bar">
        <div class="enssel-logo-img">
            <a class="logo pt-3 light" th:href="'/enssel'" th:text="#{header.logo}"></a>
        </div>
        <div class="enssel-menu-items">
            <div class="enssel-menu-item">
                <span></span>
                <h6 class="title pt-15 regular"
                    th:text="#{header.introduce}"></h6>
            </div>
            <div class="enssel-menu-item">
                <span></span>
                <h6 class="title pt-15 regular"
                    th:text="#{header.business}"></h6>
            </div>
            <div class="enssel-menu-item">
                <span></span>
                <h6 class="title pt-15 regular"
                    th:text="#{header.enow}"></h6>
            </div>
            <div class="enssel-menu-item">
                <span></span>
                <h6 class="title pt-15 regular"
                    th:text="#{header.contact}"></h6>
            </div>
            <div class="enssel-menu-item">
                <span></span>
                <h6 class="title pt-15 regular"
                    th:if="${lang == 'ko'}"
                    th:onclick="updateCookie('en')"
                    th:text="#{header.kor}">
                </h6>
                <h6 class="title pt-15 regular"
                    th:if="${lang!='ko'}"
                    th:onclick="updateCookie('ko')"
                    th:text="#{header.eng}">
                </h6>
            </div>
        </div>
    </div>
    <div class="enssel-header-menu-detail">
        <div class="enssel-detail-items">
            <ul class="enssel-detail-item">
                <li class="title pt-1 thin">
                    <a th:href="'introduce?display=vision'"
                       th:text="#{header.vision}"></a>
                </li>
                <li class="title pt-1 thin">
                    <a th:href="'introduce?display=core'"
                       th:text="#{header.core}"></a>
                </li>
                <li class="title pt-1 thin">
                    <a th:href="'introduce?display=history'"
                       th:text="#{header.history}"></a>
                </li>
            </ul>
            <ul class="enssel-detail-item">
                <li class="title pt-1 thin">
                    <a th:href="'business?display=smart-factory'"
                       th:text="#{header.smartFactory}"></a>
                </li>
                <li class="title pt-1 thin">
                    <a th:href="'business?display=ai'"
                       th:text="#{header.ai}"></a>
                </li>
                <li class="title pt-1 thin">
                    <a th:href="'business?display=semi-equipment'"
                       th:text="#{header.semiEquipment}"></a>
                </li>
            </ul>
            <ul class="enssel-detail-item">
                <li class="title pt-1 thin">
                    <a th:href="'enow?display=culture'"
                       th:text="#{header.culture}"></a>
                </li>
                <li class="title pt-1 thin">
                    <a th:href="'enow?display=crew'"
                       th:text="#{header.crew}"></a>
                </li>
                <li class="title pt-1 thin">
                    <a th:href="'enow?display=news'"
                       th:text="#{header.news}"></a>
                </li>
            </ul>
            <ul class="enssel-detail-item">
                <li class="title pt-1 thin">
                    <a th:href="'contact?display=map'"
                       th:text="#{header.map}"></a>
                </li>
                <li class="title pt-1 thin">
                    <a th:href="'contact?display=inquiry'"
                       th:text="#{header.inquiry}"></a>
                </li>
                <li class="title pt-1 thin">
                    <a th:href="'contact?display=profile'"
                       th:text="#{header.profile}"></a>
                </li>
            </ul>
        </div>
    </div>
</header>

</html>