@keyframes slideImg {
  0% {
    left: 0;
  }
  25% {
    left: 75%;
  }
  50% {
    left: 0;
  }
  75% {
    left: -75%;
  }
  100% {
    left: 0;
  }
}
section.enssel-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 8vh;
}
section.enssel-index .enssel-main-item1 .enssel-info {
  display: flex;
  margin-top: 15rem;
  position: absolute;
  width: 60%;
  z-index: 900;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
}
section.enssel-index .enssel-main-item1 .enssel-info > h1 {
  color: white;
  width: 100%;
  font-weight: 900;
  text-align: center;
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-message {
  width: 100%;
  height: 100%;
  text-align: center;
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-message > h4 {
  color: white;
  width: 100%;
  font-weight: 600;
  line-height: 3rem;
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 5rem 0px 2rem;
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card {
  width: 17.5rem !important;
  height: 11rem !important;
  border-radius: 0 !important;
  background-color: rgba(73, 99, 144, 0.5);
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body {
  display: grid;
  grid-template-rows: 7fr 3fr auto;
  text-align: center;
  justify-items: center;
  align-items: center;
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body a {
  width: 100%;
  height: 100%;
  border-radius: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 4.1rem;
  border-color: white;
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body .card-title {
  color: white;
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body a.smart-factory {
  background-image: url("../img/main/2-1.png");
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body a.ai {
  background-image: url("../img/main/2-2.png");
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body a.semiconductor {
  background-image: url("../img/main/2-3.png");
}
section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body a.contact {
  background-image: url("../img/main/2-4.png");
}
section.enssel-index .enssel-main-item1 .carousel img {
  height: 919px;
}
section.enssel-index .enssel-main-item2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
section.enssel-index .enssel-main-item2 > h1 {
  color: #142482;
  font-weight: 900;
  text-align: center;
}
section.enssel-index .enssel-main-item2 .enssel-business-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item {
  width: 440px;
  height: 610px;
  margin: 1rem;
  background-color: #000;
  position: relative;
  bottom: 0;
  transition: all 0.25s;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: all 0.25s;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-preview {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 2rem;
  cursor: pointer;
  justify-content: center;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-preview > h1, section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-preview > h4 {
  color: white;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-preview > h1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  font-size: 3em;
  height: 420px;
  line-height: 1em;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-preview > h4 {
  text-align: right;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view {
  position: absolute;
  top: 0;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 2rem;
  cursor: pointer;
  justify-content: center;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view .enssel-business-info {
  height: 440px;
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view .enssel-business-info > .enssel-business-information {
  width: 60%;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view .enssel-business-info > .enssel-business-information > h5 {
  color: white;
  font-size: 1.1em;
  line-height: 2em;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view .enssel-business-info > .enssel-business-kinds {
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view .enssel-business-info > .enssel-business-kinds > div {
  width: 48%;
  height: 180px;
  background-color: rgba(120, 130, 255, 0.5);
  border: none;
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  font-weight: 900;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view > h1, section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view > h4 {
  color: white;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view > h1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  font-weight: 900;
  height: 85px;
  font-size: 3.5em;
  line-height: 1em;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view > h4 {
  text-align: right;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item[data-item=smartFactory],
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item[data-item=semiconductor] {
  margin-bottom: 5rem;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item[data-item=ai] {
  margin-top: 5rem;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.view {
  width: 1020px;
  margin: 1rem;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.view > img {
  opacity: 0.2;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.view .enssel-business-preview {
  display: none;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.view .enssel-business-view {
  display: flex;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.preview {
  width: 360px;
  height: 480px;
  margin: 1rem;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.preview .enssel-business-preview {
  width: 100%;
}
section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.preview .enssel-business-preview > h1 {
  font-size: 2.5em;
  height: 350px;
}
section.enssel-index .enssel-main-item3 {
  height: 100vh;
  background: url("../img/main/4.jpg") center/cover no-repeat;
  margin-top: 9.5rem;
}
section.enssel-index .enssel-main-item3 .card {
  width: 100%;
  height: 50%;
  background-color: transparent;
  border: none;
  position: relative;
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
}
section.enssel-index .enssel-main-item3 .card .card-body {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
section.enssel-index .enssel-main-item3 .card .card-body h1 {
  color: white;
  margin-bottom: 3vh;
  font-weight: 700;
}
section.enssel-index .enssel-main-item3 .card .card-body a {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  border: 2px dotted white;
  background: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
section.enssel-index .enssel-main-item3 .card .card-body a > p {
  font-size: 1.2em;
  font-weight: 900;
  margin: 0 auto;
}
section.enssel-index .enssel-main-item3 .card .card-body a:hover, section.enssel-index .enssel-main-item3 .card .card-body a:active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: white 0 0 5px 2px;
}
section.enssel-index .enssel-main-item4 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
section.enssel-index .enssel-main-item4 h1 {
  color: #142482;
  font-weight: 900;
  text-align: center;
}
section.enssel-index .enssel-main-item4 h2 {
  color: #6d6d6d;
  font-weight: 600;
  text-align: center;
}
section.enssel-index .enssel-main-item4 .enssel-culture-photos {
  white-space: nowrap;
  width: 250%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: slideImg 60s linear infinite;
}
section.enssel-index .enssel-main-item4 .enssel-culture-photos > img {
  width: 50%;
  height: 660px;
}

@media (max-width: 1020px) {
  section.enssel-index {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 14vh;
  }
  section.enssel-index .enssel-main-item1 .enssel-info {
    display: flex;
    margin-top: 8rem;
    position: absolute;
    width: 60%;
    z-index: 900;
    top: 14vh;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
  }
  section.enssel-index .enssel-main-item1 .enssel-info > h1 {
    color: white;
    width: 100%;
    font-weight: 900;
    text-align: center;
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-message {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-message > h4 {
    color: white;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    line-height: 3rem;
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card {
    width: 50% !important;
    height: 9rem !important;
    border-radius: 0 !important;
    background-color: rgba(73, 99, 144, 0.5);
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    justify-items: center;
    align-items: center;
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body a {
    width: 100%;
    height: 100px;
    border-radius: 100% !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 4.1rem;
    border-color: white;
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body .card-title {
    font-size: 0.7em;
    color: white;
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body a.smart-factory {
    background-image: url("../img/main/2-1.png");
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body a.ai {
    background-image: url("../img/main/2-2.png");
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body a.semiconductor {
    background-image: url("../img/main/2-3.png");
  }
  section.enssel-index .enssel-main-item1 .enssel-info .enssel-icons .card .card-body a.contact {
    background-image: url("../img/main/2-4.png");
  }
  section.enssel-index .enssel-main-item1 .carousel img {
    height: 720px;
  }
  section.enssel-index .enssel-main-item2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  section.enssel-index .enssel-main-item2 > h1 {
    color: #142482;
    font-weight: 900;
    text-align: center;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item {
    width: 550px;
    height: 720px;
    margin: 1rem;
    background-color: #000;
    position: relative;
    bottom: 0;
    transition: all 0.5s;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all 0.5s;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-preview {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    padding: 2rem;
    cursor: pointer;
    justify-content: center;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-preview > h1, section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-preview > h4 {
    color: white;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-preview > h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-size: 3.5em;
    height: 550px;
    line-height: 1em;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-preview > h4 {
    text-align: right;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view {
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    padding: 2rem;
    cursor: pointer;
    justify-content: center;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view .enssel-business-info {
    height: 440px;
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view .enssel-business-info > .enssel-business-information {
    width: 100%;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view .enssel-business-info > .enssel-business-information > h5 {
    color: white;
    font-size: 1.1em;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view .enssel-business-info > .enssel-business-kinds {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view .enssel-business-info > .enssel-business-kinds > div {
    width: 48%;
    height: 130px;
    background-color: rgba(120, 130, 255, 0.5);
    border: none;
    margin: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    font-weight: 900;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view > h1, section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view > h4 {
    color: white;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view > h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    font-weight: 900;
    height: 100px;
    font-size: 2.5em;
    line-height: 1em;
    margin: 0.5rem;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item > div.enssel-business-view > h4 {
    text-align: right;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.view {
    width: 1020px;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.view > img {
    opacity: 0.2;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.view .enssel-business-preview {
    display: none;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.view .enssel-business-view {
    display: flex;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.preview {
    width: 360px;
    height: 480px;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.preview .enssel-business-preview {
    width: 100%;
  }
  section.enssel-index .enssel-main-item2 .enssel-business-items .enssel-business-item.preview .enssel-business-preview > h1 {
    font-size: 2.5em;
    height: 350px;
  }
  section.enssel-index .enssel-main-item3 {
    height: 660px;
    background: url("../img/main/4.jpg") center/cover no-repeat;
    margin-top: 5rem;
  }
  section.enssel-index .enssel-main-item3 .card {
    width: 100%;
    height: 50%;
    background-color: transparent;
    border: none;
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
  }
  section.enssel-index .enssel-main-item3 .card .card-body {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  section.enssel-index .enssel-main-item3 .card .card-body h1 {
    color: white;
    font-size: 1.2em;
    margin-bottom: 3rem;
    font-weight: 700;
  }
  section.enssel-index .enssel-main-item3 .card .card-body a {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 2px dotted white;
    background: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  section.enssel-index .enssel-main-item3 .card .card-body a > p {
    font-size: 0.8em;
    font-weight: 900;
    margin: 0 auto;
  }
  section.enssel-index .enssel-main-item3 .card .card-body a:hover, section.enssel-index .enssel-main-item3 .card .card-body a:active {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: white 0 0 5px 2px;
  }
  section.enssel-index .enssel-main-item4 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  section.enssel-index .enssel-main-item4 h1 {
    color: #142482;
    font-weight: 900;
    text-align: center;
  }
  section.enssel-index .enssel-main-item4 h2 {
    font-size: 1.2em;
    color: #6d6d6d;
    font-weight: 600;
    text-align: center;
  }
  section.enssel-index .enssel-main-item4 .enssel-culture-photos {
    white-space: nowrap;
    width: 250%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: slideImg 60s linear infinite;
  }
  section.enssel-index .enssel-main-item4 .enssel-culture-photos > img {
    width: 50%;
    height: 480px;
  }
}

/*# sourceMappingURL=main.css.map */
