<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<section class="enssel-introduce-layout" layout:fragment="content" style="height: 100%">
    <div class="enssel-page">
        <div class="page-header">
            <div class="page-about">
                <h4 class="pt-15 center margin-6"></h4>
            </div>
            <div class="page-info">
                <h1 class="title pt-7 regular margin-3" th:text="#{core.title}"></h1>
                <h5 class="pt-1 medium margin-3" th:utext="#{core.message}"></h5>
            </div>
        </div>
        <div class="page-image center">
            <img alt="..." th:src="@{/img/introduce/9.png}">
        </div>
    </div>
</section>

</html>